/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.red {
  color: #e35e6b;
}

.v-middle {
  vertical-align: middle;
}

.text-white {
  color: #fff;
}

.msg-success .mdc-snackbar__surface::before {
  background-color: #28a745;
  color: #fff;
  z-index: -1;
}

.msg-error .mdc-snackbar__surface::before {
  background-color: #e35e6b;
  color: #fff;
  z-index: -1;
}
